Autonomous Research Assistant.json
{
  "name": "Autonomous Research Assistant",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nI am an Autonomous Research Assistant. How can I assist you today?",
        "availableInChat": true,
        "agentName": " Research Agent",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "fdfd75fc-7880-47ad-85ab-c68391e25260",
      "name": "When chat message received",
      "webhookId": "421f4337-c065-47c8-80ce-cfb40c232053"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "96230208-bca7-4152-94de-84953e74b475",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.1-8b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        32,
        208
      ],
      "id": "f18f56cf-72fb-4614-a188-8f396842df7a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "1KVOdJEGJqX28YtD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        448
      ],
      "id": "c0cb4bce-d9a3-4cd4-9723-4c0e6d82fd88",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://arxiv.org/pdf/2605.10930",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        448
      ],
      "id": "d986ee6a-8f72-4068-92b3-2ccc31d80e8f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        368,
        448
      ],
      "id": "7c9c2d3a-166a-4d18-8be6-bef838d12c3a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        624
      ],
      "id": "66c2e7ac-4244-4373-b79d-1251924b2860",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        864,
        784
      ],
      "id": "35c475ba-a379-47fe-99b8-b002b532a862",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "pdf_store"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        608,
        448
      ],
      "id": "8adae67a-2626-4107-98e9-0bb1333c122f",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search the uploaded research paper about LLM explanations and false trust",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "pdf_store"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        544,
        -112
      ],
      "id": "dec080ae-470a-4101-b876-d8abaefd00c0",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "5ccf667e-edb4-47ee-9713-6b8146b054a8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LEPgJFoOK53ZE5ea",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        656
      ],
      "id": "65406245-8340-42b4-b86c-81da23ee75da",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "LEPgJFoOK53ZE5ea",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Searches live web for up-to-date factual information",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"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\",\n  \"query\": \"{{$fromAI('query')}}\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        304,
        208
      ],
      "id": "cabf7700-d864-459d-9be3-3e2888e39e4a",
      "name": "HTTP Request1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        0
      ],
      "id": "e47250f1-2992-4471-b854-01016cdfb2e5",
      "name": "Researcher Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.output}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a critical editor.\n\nYou will receive output from a Researcher AI.\n\nYour tasks:\n1. Simplify the content\n2. Improve clarity\n3. Remove repetition\n4. Make it understandable for beginners too\n5. Do NOT add new facts\n\nFormat:\n\n# Final Answer\n<clean response>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        160
      ],
      "id": "7282d000-ab4c-4a37-a9f6-5dc08519b6b3",
      "name": "Editor Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Researcher Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Researcher Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Researcher Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Editor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Researcher Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "Researcher Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Researcher Agent": {
      "main": [
        [
          {
            "node": "Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "46165f60-8131-4a16-8632-45dcbc7ae269",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c107ee8a28695d87f5d3c03b9bd30c3c0d4e033f6b055ba53c18fc60e12a180"
  },
  "id": "Q8Z66WUe2M63Msa0",
  "tags": []
}